<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmg.p2p.base.mapper.IpLogMapper" >
  <resultMap id="BaseResultMap" type="com.xmg.p2p.base.domain.IpLog" >
    <id column="id" property="id"  />
	<result column="state" property="state"  />
	<result column="userType" property="userType"  />
	<result column="loginTime" property="loginTime"  />
	<result column="username" property="username"  />
	<result column="ip" property="ip"  />
  </resultMap>
  <insert id="insert" parameterType="com.xmg.p2p.base.domain.IpLog" useGeneratedKeys="true" keyProperty="id" >
    insert into ipLog 
    (state,loginTime,username,ip,userType)
    values 
    (#{state},#{loginTime},#{username},#{ip},#{userType})
  </insert>
  <sql id="conditionSql">
  	<where>
        <if test="username!=null">
            AND username = #{username}
        </if>
        <if test="beginDate!=null">
            AND loginTime &gt;= #{beginDate}
        </if>
        <if test="endDate!=null">
            AND loginTime &lt;= #{endDate}
        </if>
        <if test="state>-1">
            AND state = #{state}
        </if>
        <if test="userType>-1">
            AND userType = #{userType}
        </if>
  	</where>
  </sql>
  <select id="queryPageCount" resultType="long">
  	select count(0) from ipLog
  	<include refid="conditionSql"/>
  </select>
  <select id="queryPageData" resultMap="BaseResultMap">
  	select * from ipLog
  	<include refid="conditionSql"/>
    order by loginTime DESC
  	limit #{start},#{pageSize}
  </select>
</mapper>