<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmg.p2p.base.mapper.UserFileMapper" >
  <resultMap id="BaseResultMap" type="com.xmg.p2p.base.domain.UserFile" >
    <id column="id" property="id"  />
	<result column="remark" property="remark"  />
	<result column="auditTime" property="auditTime"  />
	<result column="score" property="score"  />
	<result column="state" property="state"  />
	<result column="applyTime" property="applyTime"  />
	<result column="image" property="image"  />
	<association property="applier" javaType="com.xmg.p2p.base.domain.Logininfo" columnPrefix="ap_">
	  <id column="id" property="id"/>
	  <result column="username" property="username"/>
	</association>
	<association property="auditor" javaType="com.xmg.p2p.base.domain.Logininfo" columnPrefix="au_">
	  <id column="id" property="id"/>
	  <result column="username" property="username"/>
	</association>
	<association property="fileType" column="fileType_id" javaType="com.xmg.p2p.base.domain.SystemDictionaryItem"
				 select="com.xmg.p2p.base.mapper.SystemDictionaryItemMapper.selectByPrimaryKey"/>
  </resultMap>
  <insert id="insert" parameterType="com.xmg.p2p.base.domain.UserFile" useGeneratedKeys="true" keyProperty="id" >
    insert into userFile 
    (fileType_id,auditor_id,remark,auditTime,score,state,applyTime,image,applier_id)
    values 
    (#{fileType.id},#{auditor.id},#{remark},#{auditTime},#{score},#{state},#{applyTime},#{image},#{applier.id})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.xmg.p2p.base.domain.UserFile" >
    update userFile
    set
	    fileType_id=#{fileType.id},
	    auditor_id=#{auditor.id},
	    remark=#{remark},
	    auditTime=#{auditTime},
	    score=#{score},
	    state=#{state},
	    applyTime=#{applyTime},
	    image=#{image},
	    applier_id=#{applier.id}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="long" >
    select uf.id,uf.fileType_id,uf.auditor_id,uf.remark,uf.auditTime,uf.score,uf.state,uf.applyTime,uf.image,uf.applier_id,
		ap.id as ap_id,ap.username as ap_username,
		au.id as au_id,au.username as au_username
	from userFile uf
	LEFT JOIN logininfo ap on(uf.applier_id=ap.id)
	LEFT JOIN logininfo au on(uf.auditor_id=au.id)
	where uf.id = #{id}
  </select>
  <sql id="conditionSql">
  	<where>
		<if test="state>-1">
			AND uf.state = #{state}
		</if>
		<if test="beginDate!=null">
			AND uf.applyTime &gt;= #{beginDate}
		</if>
		<if test="endDate!=null">
			AND uf.applyTime &lt;= #{endDate}
		</if>
  	</where>
  </sql>
  <select id="queryPageCount" resultType="long">
  	select count(0) from userFile uf
  	<include refid="conditionSql"/>
  </select>
  <select id="queryPageData" resultMap="BaseResultMap">
	  select uf.id,uf.fileType_id,uf.auditor_id,uf.remark,uf.auditTime,uf.score,uf.state,uf.applyTime,uf.image,uf.applier_id,
	  ap.id as ap_id,ap.username as ap_username,
	  au.id as au_id,au.username as au_username
	  from userFile uf
	  LEFT JOIN logininfo ap on(uf.applier_id=ap.id)
	  LEFT JOIN logininfo au on(uf.auditor_id=au.id)
  	<include refid="conditionSql"/>
  	limit #{start},#{pageSize}
  </select>
	<select id="unSelectFileTypeList" resultMap="BaseResultMap">
		select uf.id,uf.fileType_id,uf.auditor_id,uf.remark,uf.auditTime,uf.score,uf.state,uf.applyTime,uf.image,uf.applier_id,
			ap.id as ap_id,ap.username as ap_username,
			au.id as au_id,au.username as au_username
		from userFile uf
			LEFT JOIN logininfo ap on(uf.applier_id=ap.id)
			LEFT JOIN logininfo au on(uf.auditor_id=au.id)
		where uf.applier_id = #{currentUserId}
		<if test="isSelectFileType">
			AND uf.fileType_id is not null
		</if>
		<if test="!isSelectFileType">
			AND uf.fileType_id is null
		</if>
	</select>
	<select id="queryAuditListByLogininfo" resultMap="BaseResultMap">
		select uf.id,uf.fileType_id,uf.auditor_id,uf.remark,uf.auditTime,uf.score,uf.state,uf.applyTime,uf.image,uf.applier_id,
			ap.id as ap_id,ap.username as ap_username,
			au.id as au_id,au.username as au_username
		from userFile uf
			LEFT JOIN logininfo ap on(uf.applier_id=ap.id)
			LEFT JOIN logininfo au on(uf.auditor_id=au.id)
		where uf.applier_id = #{logininfoId} and uf.state = #{state}
	</select>
</mapper>